extends layout

block content
  .container-fluid
    .row
      .col-lg-12
        .pb-2.mt-4.mb-2.border-bottom
          h2= title
        p
          | This is a sample application to demonstrate 
          a(href='https://aws.amazon.com/translate/') Amazon Translate
          |  service.
          br
          | At the time being, the application can only translate English to Japanese and vice versa.
          br
          | Input text language will be automatically detected by using 
          a(href='https://aws.amazon.com/comprehend/') Amazon Comprehend
          | .
    .row
      .col-sm-5
        textarea#inputText.form-control(rows='5', maxlength='5000', placeholder='Input', onkeyup='displayCharCount(this)', oninput='checkMaxByte(event, this)')
        span#charCount 0 characters, 0 of 5000 bytes used.
      .col-sm.justify-content-center.align-self-center.text-center(style='padding: 10px')
        button#translate.btn.btn-primary.btn(style='width: 50%', onclick='translateText()')
          i.fa.fa-arrow-circle-right
      .col-sm-5
        textarea#outputText.form-control(rows='5', placeholder='Output', onclick="selectAll('outputText')", readonly='readonly')
    br
    #errorAlert.alert.alert-danger.alert-dismissible.fade.show(role='alert', style='display:none')
    #warningAlert.alert.alert-warning.alert-dismissible.fade.show(role='warning', style='display:none')
    #snackbar.fixed-bottom